<!doctype html>
<html lang="en-US">

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name="description" content="New Account Email Template.">
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px;" leftmargin="0">
	<!-- 100% body table -->
	<table cellspacing="0" border="0" cellpadding="0" width="100%"
		style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;margin-top: 40px;">
		<tr>
			<td>
				<table style="max-width:504px; margin:0 auto;border-radius: 8px;" width="100%" border="0" align="center"
					cellpadding="0" cellspacing="0">
				
					<tr>
						<td>
							<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
								style="max-width:504px; background: #D6CFE9;margin-top: 20px;border-radius: 20px;">
								<tr>
									<td style="padding:64px 45px;">
									
										<h1
											style="color:#0D0B11; font-weight:bold; margin:0;font-size:24px;font-family:sans-serif;text-align: center;margin-bottom: 15px;margin-top: 45px;">
											Hey <%=name%>
										</h1>
									
										<p
											style="font-size:16px; color:#000; margin:0px 0 15px; line-height:24px;text-align: center;">
											Enter this verification code:</p>
										<div style="text-align: center;">
											<p
												style="font-size:16px; color:#322E3C; margin:8px 0 0px; line-height:24px;text-align: center;padding: 12px 35px;border: 1px solid black; background: white;border-radius: 4px;display: inline-block;margin-left: auto;margin-right: auto;font-weight: bold;">
												<%=code%>
											</p>
										</div>
									</td>
								</tr>
							</table>
						</td>
					<tr>
						<td style="text-align:center; padding: 15px 0 0;">
							<p
								style="font-size:12px; color:#322E3C; margin:5px 0 0; line-height:24px;text-align: center;font-weight: 500;">
								Copyright 2024 Carrom</p>
						</td>
					</tr>
		</tr>
	</table>
	</td>
	</tr>
	</table>
</body>

</html>